site_name: Amp
dev_addr: 0.0.0.0:8000
docs_dir: 'pages'
theme:
  logo: 'images/logo.svg'
  favicon: 'images/terminal.ico'
  name: 'material'
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to system preference
  features:
    - content.code.annotate
repo_name: 'jmacdonald/amp'
repo_url: 'https://github.com/jmacdonald/amp'
nav:
  - 'index.md'
  - 'installation.md'
  - 'usage.md'
  - 'configuration.md'
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.smartsymbols
  - pymdownx.emoji:
      emoji_index: !!python/name:zensical.extensions.emoji.twemoji
      emoji_generator: !!python/name:zensical.extensions.emoji.to_svg
extra_css:
  - 'stylesheets/extra.css'
copyright: 'Copyright &copy; 2015 - 2025 Jordan MacDonald'
